doctype html
html(lang='en')
  head
    title Dyachuk Vitaliy
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    link(rel='stylesheet', href='css/main.css')
    style.
  body
    .container
        .sheet
          
          .head
            img(src="src/I.png")

            h2  I'm web-developer: Fullstack JavaScript, Web-Design, Web-3D 
            hr

          h1  PERSONAL INFORMATION
           
          p  
            | Dyachuk Vitaliy
            br
            | Khmelnitsky (Ukraine) 
            br
            b Sex &nbsp
            | Male
            | | 
            b Date of birth &nbsp
            | 03/06/1983 | 
            b Nationality &nbsp
            | Ukrainian 
            
            
          h1  EDUCATION AND TRAINING 

          p
            b 2001–2005            
            | Higher education


             
             
          h1 WORK EXPERIENCE 

          p
            | 
            b 2006-2007 
            | Designer, Web-developer, 3D-modeler. 
            .gray ...(Nika(Ukraine)_
            br
            b 2007-2008 
            | Designer, Web-developer, 3D-modeler. 
            .gray ...(Freelance)
            br
            b 2008-2009 
            | Designer, Web-developer, 3D-modeler. 
            .gray ...(Web-City(Ukraine))
            br
            b 2009-2014 
            | Designer, Web-developer(HTML, CSS, JavaScript, ActionScript), 3D-modeler. 
            .gray ...(Freelance)
            br
            b 2014-2014 
            | (6 month) Web-developer (Web-design, HTML5, CSS, JavaScript). 
            .gray ...(WebMozaica(Ukraine))
            br
            b 2014-2016 
            | Web-developer (rarely Web-design, sometimes HTML5(JADE), CSS(Sass),  predominantly JavaScript(LiveScript), NodeJS, AngularJS )
             
             
          h1  PERSONAL SKILLS 

          p
            b Mother tongue(s) 
            | Ukrainian, Russian
            br
            br
            b Other language(s) 
            | English
            br
            | Reading - Free
            br
            | listening (clear conversation) - 75-85%
            br
            | Lexicon - 2000-3000 words
            br
            | Spoken interaction - not practiced
            br
            | Spoken production - commenting code
            br
            br
            b Job-related skills 
            br
            | ▪ HTML/ CSS/ I began to use in 2006. Total experience  4-5 years 
            br
            | ▪ Jade/ Sass -  1 year
            br
            | ▪ JavaScript - Total experience  3-4 years
            br
            | ▪ CoffeScript(LiveScript) - 1 year
            br            
            | ▪ TypeScript - 2 month
            br
            | ▪ C++ - 1 year
            br
            | ▪ ActionScript - 1 year
            br
            | ▪ Java - 2 month
            br
            | ▪ PHP — Rarely used to make changes to WordPress and Jumla and other CMS. Total experience 0.5 years 
            br
            | ▪ MySQL — Total experience 0.5 years 
            br
            | ▪ MongoDB - 1 year (current)
            br
            br
            | 
            b Frameworks: 
            br
            | ▪  AngularJS - 1year
            br
            | ▪  AngularJS 2 - 2 month
            br
            | 
            b Server Administration:
            br
            | VPS + NodeJS - 1year
            br
            br
            | 
            b Graphics:
            br
            | Photoshop: +10 year
            br
            | Adobe Illustrator: +8year
            br
            | 3DSMax : +6year
            br
            | CorelDrow: +4year
            br
            br
            | 
            b Intensive practice during study
            br
            | ▪  Paskal 3.0 - 7.0 - 3year
            br
            | ▪  Assembler - 8 month
            br
            | ▪  C++ 1 year
            br
            br
            | 
            b Many scattered experience:
            br
            | Various CMS, programs. 
            br
            | User experience - 19 years (Mainly for the development, design, training)
            br
            br
            | 
            b Other experience:
            br
            | ▪ Team lead
            br
            | ▪ Self-management projects
            br
            | ▪ Extensive experience of self-organization
            br
            | ▪ The organizational work
            br
            | ▪ Teaching
            br
            | ▪ Studied psychology - 17years
            br
            | ▪ Many years of studying and pondering: social systems, forms of social interaction, infrastructure systems
            br
            br
            | 
            b Works: 
            br
            | 
            a(href="http://www.adventurebucketlist.com/learnmore/") www.adventurebucketlist.com/learnmore/ (Teamwork)
            br
            a(href="http://northstar-limos.squarespace.com") northstar-limos.squarespace.com
            br
            a(href="http://rozvivalka.xyz") rozvivalka.xyz        
            br
            a(href="https://ide.c9.io/spiriturban/miprosco") www.miprosco.com (code)
            br              
            a(href="https://ide.c9.io/spiriturban/rest-ex4") Social network - backend Node.js  (code)
            br              
            | and other ...
            br
            br
            b Work on parts for:
            br
            a(href="http://paleoyums.com/") paleoyums.com
            br
            a(href="http://writtent.com/")  writtent.com
            br
            br
            b Designs:
            br
            a(href="http://www.behance.net/spirit_urban") www.behance.net/spirit_urban 




    script(src='js/main.js')
    script(src='build/three.js')
    script(src='js/renderers/Projector.js')
    script(src='js/renderers/CanvasRenderer.js')

