.section-container {
    margin-top: 3rem;
}
.section-title {
    text-align: center;
    font-size: 2rem;
}
.base-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.base-container .left {
    flex: 1;
}
.base-container .center {
    flex: 3;
}
.base-container .right {
    flex: 1;
}